
table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

#filtro {
    width: 50%;
    margin: 0 auto;
}

#aviso {
    text-align: center;
    margin: 0 auto;
}

.example-container {
    height: 70vh;
    overflow: auto;
}

.verdetalhe:hover {
    cursor: pointer;
}